.dashboard {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}
.dash-header {
  position: sticky;
  top: 0;
  background-color: rgba(172, 148, 77, 0.2);
  padding: 10px;
  border-radius: 5px;
}
.dash-header button {
  background-color: black;
  color: white;
  padding: 10px;
}
.dash-header button:hover {
  background-color: rgb(59, 59, 59);
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.dashboard-table th,
.dashboard-table td {
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.dashboard-table th {
  background-color: #1d1c1c;
  color: white;
  padding: 12px;
}

.dashboard-table tbody tr:hover {
  background-color: #e5e7c6;
}
