.search {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  width: 60%;
  margin-left: 10%;
  margin-top: 10px;
}
.categories {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filter-button {
  background-color: #e2e2e2;
  color: rgb(44, 43, 43);
  border: 1px solid rgb(92, 92, 92);
  margin-left: 8px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.product-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.product-details {
  flex: 1;
  margin-left: 16px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 8px;
  color: #888;
}

.add-to-cart-button {
  background-color: #fca311;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #e69500;
}
