.search {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  width: 60%;
  margin-left: 10%;
  margin-top: 10px;
}
.categories {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filter-button {
  background-color: #e2e2e2;
  color: rgb(44, 43, 43);
  border: 1px solid rgb(92, 92, 92);
  margin-left: 8px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.product-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
}

.product-card .product-image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  /* border-radius: 4px; */
}

.product-card .product-details {
  /* flex: 1; */
  margin-top: 14px;
}

.product-details .product-name {
  font-size: 24px;
  margin-bottom: 8px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 8px;
  color: #888;
}

.add-to-cart-button {
  background-color: #fca311;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
}
.bg-btn {
  background-color: #888;
  margin-top: 6px;
}

.bg-btn:hover {
  background-color: #5a5956;
}
